GitHub Issues Bot.json
{
  "name": "GitHub Issues Bot",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "Alanmv12",
          "mode": "list",
          "cachedResultName": "Alanmv12",
          "cachedResultUrl": "https://github.com/Alanmv12"
        },
        "repository": {
          "__rl": true,
          "value": "test-seguridad",
          "mode": "list",
          "cachedResultName": "test-seguridad",
          "cachedResultUrl": "https://github.com/Alanmv12/test-seguridad"
        },
        "events": [
          "issues"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        0
      ],
      "id": "8c82722c-dcd4-45b0-9a02-892822738284",
      "name": "Github Trigger",
      "webhookId": "b1cd516f-0baa-43ab-829d-94ca0a32d660",
      "credentials": {
        "githubOAuth2Api": {
          "id": "tL7MGCZSK4ufC90W",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente técnico. Analiza el siguiente issue de GitHub y responde ÚNICAMENTE en este formato JSON:\n\n{\n  \"titulo\": \"título claro y descriptivo del problema\",\n  \"categoria\": \"Bug / Feature Request / Documentación / Pregunta\",\n  \"prioridad\": 7,\n  \"resumen\": \"explicación breve del problema y posible solución\"\n}\n\nIssue:\nTítulo:{{ $json.body.issue.title }} \nDescripción:{{ $json.body }} "
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -880,
        0
      ],
      "id": "14d25dd7-f1e7-4d3d-91b8-3db41961a860",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "pvJLjZ8fASkXQMli",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content.parts[0].text;\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        0
      ],
      "id": "dd7f931e-6b50-49ff-90f4-d08ce79b77f6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "1433333300",
        "text": "=🔴 URGENTE - Prioridad {{ $('Code in JavaScript').item.json.prioridad }}/10\n\n🚨 Título: {{ $('Code in JavaScript').item.json.titulo }}\n🏷️ Categoría: {{ $('Code in JavaScript').item.json.categoria }}\n📝 Resumen: {{ $('Code in JavaScript').item.json.resumen }}\n\n⚠️ Este issue requiere atención inmediata!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        -192
      ],
      "id": "72398f57-da4c-45b4-be73-497f4718950d",
      "name": "Send a text message",
      "webhookId": "3a0931c0-bdc5-451f-9a7f-8b895146c7d8",
      "credentials": {
        "telegramApi": {
          "id": "HnuRNFhzENw5hy2f",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "72aa6320-2a5b-4c8c-83d7-38abc9cbf86a",
              "leftValue": "={{ $('Code in JavaScript').item.json.prioridad }}\n",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        0
      ],
      "id": "4d97feaa-cea0-4ccd-9aca-f00d41cc318d",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1433333300",
        "text": "=🔵 Nuevo Issue - Prioridad {{ $('Code in JavaScript').item.json.prioridad }}/10\n\n📌 Título: {{ $('Code in JavaScript').item.json.titulo }}\n🏷️ Categoría: {{ $('Code in JavaScript').item.json.categoria }}\n📝 Resumen: {{ $('Code in JavaScript').item.json.resumen }}\n\nℹ️ Este issue no es urgente pero requiere atención.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        144
      ],
      "id": "02948ff9-811d-4a60-888c-5a2191c80d9a",
      "name": "Send a text message1",
      "webhookId": "dffa17b6-60bd-4e24-8a2d-a94a829c4bb6",
      "credentials": {
        "telegramApi": {
          "id": "HnuRNFhzENw5hy2f",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "createComment",
        "owner": {
          "__rl": true,
          "value": "Alanmv12",
          "mode": "list",
          "cachedResultName": "Alanmv12",
          "cachedResultUrl": "https://github.com/Alanmv12"
        },
        "repository": {
          "__rl": true,
          "value": "test-seguridad",
          "mode": "list",
          "cachedResultName": "test-seguridad",
          "cachedResultUrl": "https://github.com/Alanmv12/test-seguridad"
        },
        "issueNumber": "={{ $('Github Trigger').item.json.body.issue.number }}",
        "body": "=🔴 URGENTE - Prioridad {{ $('Code in JavaScript').item.json.prioridad }}/10\n\n🚨 Título: {{ $('Code in JavaScript').item.json.titulo }}\n🏷️ Categoría: {{ $('Code in JavaScript').item.json.categoria }}\n📝 Resumen: {{ $('Code in JavaScript').item.json.resumen }}\n\n⚠️ Este issue requiere atención inmediata!"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        800,
        -192
      ],
      "id": "109c178d-f460-4da4-af54-0ce83357d41c",
      "name": "Create a comment on an issue",
      "webhookId": "c4b09805-ee42-42b2-80f8-e8301de457e5",
      "credentials": {
        "githubOAuth2Api": {
          "id": "9rVytTVoMj2NnqIl",
          "name": "GitHub OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "createComment",
        "owner": {
          "__rl": true,
          "value": "Alanmv12",
          "mode": "list",
          "cachedResultName": "Alanmv12",
          "cachedResultUrl": "https://github.com/Alanmv12"
        },
        "repository": {
          "__rl": true,
          "value": "test-seguridad",
          "mode": "list",
          "cachedResultName": "test-seguridad",
          "cachedResultUrl": "https://github.com/Alanmv12/test-seguridad"
        },
        "issueNumber": "={{ $('Github Trigger').item.json.body.issue.number }}",
        "body": "=🔵 Nuevo Issue - Prioridad {{ $('Code in JavaScript').item.json.prioridad }}/10\n\n📌 Título: {{ $('Code in JavaScript').item.json.titulo }}\n🏷️ Categoría: {{ $('Code in JavaScript').item.json.categoria }}\n📝 Resumen: {{ $('Code in JavaScript').item.json.resumen }}\n\nℹ️ Este issue no es urgente pero requiere atención."
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        752,
        144
      ],
      "id": "bb51ee61-e30f-439e-bb8b-fc427f5c4b01",
      "name": "Create a comment on an issue1",
      "webhookId": "ecb0cafb-a1c5-4e48-823f-93305f903bce",
      "credentials": {
        "githubOAuth2Api": {
          "id": "9rVytTVoMj2NnqIl",
          "name": "GitHub OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/Alanmv12/test-seguridad/issues/{{ $('Github Trigger').item.json.body.issue.number }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"labels\": [\"{{ $json.categoria }}\"]}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        0
      ],
      "id": "2de31c3f-5699-43d1-b9f0-e5ea1e17dcfd",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hYa8N6pO3BWgfTGJ",
          "name": "Header Auth account"
        },
        "githubApi": {
          "id": "J1f4rvjWwYPJ8OAJ",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "64f95c69-0530-4c4c-9230-2b7eec8872ec",
              "leftValue": "={{ $('Code in JavaScript').item.json.prioridad }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        144
      ],
      "id": "7b2ab9a5-9dcb-48d7-a5c1-6f2425a14969",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/Alanmv12/test-seguridad/issues/{{ $('Github Trigger').item.json.body.issue.number }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\"Urgente\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        -144
      ],
      "id": "2b98d6af-b514-4cc6-94e6-fd078c44f221",
      "name": "HTTP Request1",
      "credentials": {
        "githubApi": {
          "id": "J1f4rvjWwYPJ8OAJ",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/Alanmv12/test-seguridad/issues/{{ $('Github Trigger').item.json.body.issue.number }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\"Prioridad Media\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        176
      ],
      "id": "4fb505d1-b9c3-4a65-b558-b7662e2e0922",
      "name": "HTTP Request2",
      "credentials": {
        "githubApi": {
          "id": "J1f4rvjWwYPJ8OAJ",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        320,
        -208
      ],
      "id": "14b1dd05-090c-457c-aeb7-745e9cac23a9",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        336,
        176
      ],
      "id": "2d76358d-b8b6-4b63-ade2-cc6ee9f13460",
      "name": "Limit1"
    }
  ],
  "pinData": {},
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Create a comment on an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Create a comment on an issue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7d4616e9-ea55-4c21-bc9b-81c0478687bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8303e3c0d5b6a56a3f1ecf151535c32d97e3e3bf16fdb50a871a4dbcb2dce73"
  },
  "id": "FerKBJt82qvMdhZP",
  "tags": []
}